* {
    padding-top: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: black;
}

video {
    width: 100%;
    height: auto;
    opacity: 0.3;
}

.header-text {
    margin-top: 25%;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: left;
    justify-content: left;
    margin-left: 100px;
    padding: 10px;
}

.header-text p {
    color: white;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: lighter;
    width: 80%;
}

h1 {
    font-size: 50px;
    z-index: 100;
    color: white;
    margin-bottom: 30px;
    width: 80%;
    font-weight: lighter;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.575);
}

.text-bg {
    margin-left: 30px;
}

@media screen and (max-width:800px) {
    h1 {
        font-size: 50px;
    }
}

@media screen and (max-width:500px) {
    h1 {
        font-size: 30px;
        margin-bottom: 0;
    }
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c92828;
}

.text-typsa {
    color: white;
    object-fit: cover;
    height: 100%;
    font-weight: lighter;
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px
}

h2 {
    margin-bottom: 10px;
}

.img-typa {
    width: 100%;
    position: relative;
    padding: 0;
}

.img-typa img {
    width: 100%;
    object-fit: cover;
    padding: 0;
}

.values {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #834444;
    height: 500px;
}

.values-info {
    text-align: center;
    color: white;
}