<header>
    <div class="overlay"></div>
    <div class="header-text">
        <div class="text-bg">
            <h1>The development of new technologies in the civil engineering field</h1>
            <p>RAUROS is a consulting firm connected with the development of new technologies within the field of Civil engineering.In particular, RAUROS develops its activity in this field applying survey techniques of roads, highways and airport pavements.
                It also develops expert management systems for different types of infrastructures. It contributes a wide range of technological solutions for any work liable to be automated, innovating methods, systems and offering assistance to technicians
                and managers. Likewise, it maintains a close collaboration with the Universidad Politécnica de Madrid and other private entities in development of R+D+i programs.</p>
        </div>
    </div>
    <video onloadedmetadata="this.muted=true" autoplay loop>
    <source src="../../assets/images/main/rauros.mp4">
</video>

</header>

<div class="container-fluid text-info">
    <div class="info row">
        <div class="col text-typsa">
            <h2>We belong to Typsa Group</h2>
            <p>It belongs to TYPSA Group, a group of independent consulting companies in the fields of Civil Engineering. Founded in 1966, TYPSA Group is a leading group in consulting and engineering services of transport, construction, water, energy, the
                environmentand rural sector. To provide creative, effective and sustainable solutions, TYPSA Group has created a solid international network, trusted advisor of public, private and institutional clients in America, Europe, Africa, Asia
                and Middle East, for which it develops infrastructure projects from design until placement in service. Currently, TYPSA Group has a strong multidisciplinary team composed of more than 2,500 highly qualified staff members, of whom 70% are
                engineers, architects and consultants. The TYPSA Group is organized in geographic areas and activities, which allows providing maximum technical quality services adapted to the conditions of each specific region or country.</p>
        </div>
        <div class="col img-typa">
            <img src="../../assets/images/main/Typsa-Rauros.jpg" alt="">
        </div>

    </div>



    <div class="row values">

        <div class=" values-info">

        </div>
    </div>

    <app-carousel></app-carousel>


    <!-- <section class="awSlider">
        <div class="carousel slide" data-ride="carousel">
           
            <ol class="carousel-indicators">
                <li data-target=".carousel" data-slide-to="0" class="active"></li>
                <li data-target=".carousel" data-slide-to="1"></li>
                <li data-target=".carousel" data-slide-to="2"></li>
                <li data-target=".carousel" data-slide-to="3"></li>
            </ol>

            
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="http://www.adobewordpress.com/wp-content/uploads/2014/02/wallpaper-thumb-941.jpg">
                    <div class="carousel-caption">Görsel #1</div>
                </div>
                <div class="item">
                    <img src="http://www.adobewordpress.com/wp-content/uploads/2014/02/wallpaper-thumb-101.jpg">
                    <div class="carousel-caption">Görsel #2</div>
                </div>
                <div class="item">
                    <img src="http://www.adobewordpress.com/wp-content/uploads/2014/02/wallpaper-thumb-1051.jpg">
                    <div class="carousel-caption">Görsel #3</div>
                </div>
                <div class="item">
                    <img src="http://www.adobewordpress.com/wp-content/uploads/2013/07/wallpaper-thumb-74.jpg">
                    <div class="carousel-caption">Görsel #4</div>
                </div>
            </div>

           
            <a class="left carousel-control" href=".carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Geri</span>
            </a>
            <a class="right carousel-control" href=".carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">İleri</span>
            </a>
        </div>
    </section> -->

    <!-- <h2>Mision, Vision y values</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate, mauris sed sagittis convallis, lectus eros vestibulum augue, facilisis interdum lectus urna a sapien. Pellentesque ac nisi efficitur, dignissim dolor et, blandit sapien.
                In viverra luctus est sed pretium. Donec ultrices nibh eget nulla mattis, et fringilla lorem tempor. Proin in leo et turpis porttitor tincidunt. Suspendisse quam lorem, laoreet ac condimentum quis, dapibus laoreet mi. Proin varius laoreet
                eros, sit amet consectetur tellus fermentum vel. Ut vulputate commodo fringilla. Proin non felis sed mauris pretium porta vel non ante. Sed fringilla dapibus nisl, eget placerat nulla sodales pharetra. Nulla scelerisque dapibus felis,
                sed dignissim erat vulputate sit amet.</p> -->
</div>
<!-- 
<script src="../../assets/script/carrusel.js"></script> -->