<header>
    <div class="overlay"></div>
    <div class="header-text">
        <div class="text-bg">
            <h1>The development of new technologies in the civil engineering field</h1>
            <p>RAUROS is a consulting firm connected with the development of new technologies within the field of Civil engineering.In particular, RAUROS develops its activity in this field applying survey techniques of roads, highways and airport pavements.
                It also develops expert management systems for different types of infrastructures. It contributes a wide range of technological solutions for any work liable to be automated, innovating methods, systems and offering assistance to technicians
                and managers. Likewise, it maintains a close collaboration with the Universidad Politécnica de Madrid and other private entities in development of R+D+i programs.</p>
        </div>
    </div>
    <video onloadedmetadata="this.muted=true" autoplay loop>
    <source src="../../assets/images/main/rauros.mp4">
</video>

</header>

<div class="container-fluid text-info">
    <div class="info row">
        <div class="col text-typsa">
            <h2>We belong to Typsa Group</h2>
            <p>It belongs to TYPSA Group, a group of independent consulting companies in the fields of Civil Engineering. Founded in 1966, TYPSA Group is a leading group in consulting and engineering services of transport, construction, water, energy, the
                environmentand rural sector. To provide creative, effective and sustainable solutions, TYPSA Group has created a solid international network, trusted advisor of public, private and institutional clients in America, Europe, Africa, Asia
                and Middle East, for which it develops infrastructure projects from design until placement in service. Currently, TYPSA Group has a strong multidisciplinary team composed of more than 2,500 highly qualified staff members, of whom 70% are
                engineers, architects and consultants. The TYPSA Group is organized in geographic areas and activities, which allows providing maximum technical quality services adapted to the conditions of each specific region or country.</p>
        </div>
        <div class="col img-typa">
            <img src="../../assets/images/main/Typsa-Rauros.jpg" alt="">
        </div>
    </div>
    <app-carousel></app-carousel>
    <app-where-we-are></app-where-we-are>
</div>