<footer>
    <div class="container text-center">
        <div class="row ">
            <div class="col">
                <img src="../../assets/images/footer/GrupoRauros_en_b.png" alt="Logo Rauros" width="200px">

                <div>
                    <hr>
                    <span class="info-text-2">Empresa consultora ligada al desarrollo de nuevas tecnologías en el campo de la ingeniería civil.</span>
                </div>
                <img src="../../assets/images/footer/Typsa-50-anos.png" alt="Typsa50anios" width="150px">
            </div>
            <div class="col">
                <h3>MENU</h3>
                <hr>
                <div class="footer-menu">

                    <a href="/">WHO WE ARE</a><br>
                    <a href="/">PRODUCTS</a><br>
                    <a href="/">SERVICE</a><br>
                    <a href="/">R+D+I</a><br>
                    <a href="/">ICARO</a><br>
                    <a href="/">CLIENTS</a><br>
                    <a href="/">CONTACT</a><br>
                    <a href="/">MULTIMEDIA</a>
                </div>
            </div>
            <div class="col">
                <h3>SOCIAL NETWORKS</h3>
                <hr>
                <div class="social-network">
                    <a href="https://www.linkedin.com/company/rauros-zmcom-s-l-"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-facebook-square " aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/gruporauros/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>{{ currentYear }} © All rights reserved |
            <a href="assets/download.csv" class="btn btn-default" target="_blank" download="download.csv">Información legal</a>|
            <a href="../../../assets/file/POLITICA DE RAUROSZMCOM_v.8.pdf" class="btn btn-default" target="_blank" download="POLITICA DE RAUROSZMCOM_v.8.pdf">Política de Calidad</a> |
            <a href="assets/download.csv" class="btn btn-default" target="_blank" download="download.csv">Política de Prevención SST</a>|
            <a href="../../../assets/file/Comunicacion-partes-interesadas-MA-web.pdf" class="btn btn-default" target="_blank" download="Comunicacion-partes-interesadas-MA-web.pdf">Desempeño Ambiental (ZM)</a></p>
    </div>
</footer>