<footer>
    <div class="container text-center">
        <div class="row ">
            <div class="col">
                <img src="../../assets/images/footer/GrupoRauros_en_b.png" alt="Logo Rauros" width="150px">
                <div>
                    <span>Empresa consultora ligada al desarrollo de nuevas tecnologías en el campo de la ingeniería civil.</span>
                </div>
                <img src="../../assets/images/footer/Typsa-50-anos.png" alt="Typsa50anios" width="150px">
            </div>
            <div class="col">
                <h3>MENU</h3>
                <div>
                    <a href="/">WHO WE ARE</a><br>
                    <a href="/">PRODUCTS</a><br>
                    <a href="/">SERVICE</a><br>
                    <a href="/">R+D+I</a><br>
                    <a href="/">ICARO</a><br>
                    <a href="/">CLIENTS</a><br>
                    <a href="/">CONTACT</a><br>
                    <a href="/">MULTIMEDIA</a>
                </div>
            </div>
            <div class="col">
                <h3>SOCIAL NETWORKS
                </h3>

            </div>
        </div>
    </div>

    <div>
        <p>2023 © All rights reserved </p>
    </div>
</footer>