<div class="container">
    <div class="row toolbar">
        <div class="col">
            <img width="250" alt="Rauros Logo" src="../../assets/images/footer/GrupoRauros_en_b.png" />
        </div>
        <div class="menu col " data-animation="bonus">
            <a href="/">WHO WE ARE</a>
            <a href="/">PRODUCTS</a>
            <a href="/">SERVICE</a>
            <a href="/">R+D+I</a>
            <a href="/">ICARO</a>
            <a href="/">CLIENTS</a>
            <a href="/">CONTACT</a>
            <a href="/">MULTIMEDIA</a>
        </div>
    </div>

</div>