<div class="where-we-are">
    <h1>Where we are</h1>
    <img src="../../../assets/images/main/map.png" alt="" width="800px">

    <h2>Our offices</h2>
    <div class="container">
        <div class="row office">
            <div class="col">
                <img src="../../../assets/images/logo/RaurosZm-Logo.png" alt="">
                <p>Calle Calera 3</p>
                <p>28760 Tres Cantos Madrid</p>
                <p>España</p>
                <p>T. +(34) 916 59 22 38</p>
                <p>rauroszm@rauroszm.com</p>
            </div>
            <div class="col">
                <img src="../../../assets/images/logo/RaurosMX-Logo.png" alt="">
                <p>Calle Lago Alberto 442,Torre B, Piso 6,Colonia Anáhuac</p>
                <p>11320 Ciudad de México</p>
                <p>México</p>
                <p>T. (52) (55) 55 80 49 35 Ext 8007</p>
                <p>raurosmx@raurosmx.com</p>
            </div>
            <div class="col">
                <img src="../../../assets/images/logo/RaurosMX-Logo.png" alt="">
                <p>Rafael 215 Col San Marcos, 2ª Sección</p>
                <p>20070 Aguascalientes AGS</p>
                <p>México</p>
                <p>T. (52) (449) 916 90 80</p>
                <p>raurosmx@raurosmx.com</p>
            </div>
            <div class="col">
                <img src="../../../assets/images/logo/RaurosPE-Logo.png" alt="">
                <p>Av. 28 de Julio, 1044, 10º piso</p>
                <p>Miraflores, Lima</p>
                <p>Perú</p>
                <p>T. (51) (1) 4320946</p>
                <p>raurospe@raurospe.com</p>
            </div>
        </div>
    </div>
</div>